name: radicale
services:
  radicale:
    image: ghcr.io/kozea/radicale:stable
    container_name: radicale
    ports:
      - 5232:5232
    volumes:
      - /DATA/AppData/radicale/config:/etc/radicale
      - /DATA/AppData/radicale/data:/var/lib/radicale
    restart: unless-stopped
    x-casaos:
      ports:
        - container: "5232"
          description:
            en_us: "Web Interface"
      volumes:
        - container: /etc/radicale
          description:
            en_us: "Configuration"
        - container: /var/lib/radicale
          description:
            en_us: "Calendar/Contact Data"

x-casaos:
  architectures:
    - amd64
    - arm64
  main: radicale
  author: Kozea
  category: Charlie
  description:
    en_us: "A lightweight CalDAV and CardDAV server for your calendars and contacts."
  developer: Radicale Team
  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/radicale.png
  tagline:
    en_us: "Simple Calendar & Contact Sync."
  title:
    en_us: Radicale
  port_map: "5232"
