name: stirling-pdf
services:
  stirling-pdf:
    container_name: stirling-pdf
    image: stirlingtools/stirling-pdf:latest
    restart: unless-stopped
    environment:
      - DOCKER_ENABLE_SECURITY=false
      - SECURITY_ENABLE_LOGIN=false
      - SECURITY_INITIALLOGIN_USERNAME=charlie
      - SECURITY_INITIALLOGIN_PASSWORD=charlie
      - CSRF_DISABLED=false
      - DEFAULT_LOCALE=en-US
      - INSTALL_BOOK_AND_ADVANCED_HTML_OPS=false
      - LANGS=en_US
    volumes:
      - /DATA/AppData/$AppID/tessdata:/usr/share/tessdata
      - /DATA/AppData/$AppID/configs:/configs
    ports:
      - "8080:8080"
    x-casaos:
      envs:
        - container: DOCKER_ENABLE_SECURITY
          description:
            en_us: 'Container Variable: DOCKER_ENABLE_SECURITY'
        - container: SECURITY_ENABLE_LOGIN
          description:
            en_us: 'Container Variable: SECURITY_ENABLE_LOGIN'
        - container: SECURITY_INITIALLOGIN_USERNAME
          description:
            en_us: 'Container Variable: SECURITY_INITIALLOGIN_USERNAME'
        - container: SECURITY_INITIALLOGIN_PASSWORD
          description:
            en_us: 'Container Variable: SECURITY_INITIALLOGIN_PASSWORD'
        - container: CSRF_DISABLED
          description:
            en_us: 'Container Variable: CSRF_DISABLED'
        - container: DEFAULT_LOCALE
          description:
            en_us: 'Container Variable: DEFAULT_LOCALE'
        - container: INSTALL_BOOK_AND_ADVANCED_HTML_OPS
          description:
            en_us: 'Container Variable: INSTALL_BOOK_AND_ADVANCED_HTML_OPS'
        - container: LANGS
          description:
            en_us: 'Container Variable: LANGS'
      volumes:
        - container: /usr/share/tessdata
          description:
            en_us: 'Container Path: /usr/share/tessdata'
        - container: /configs
          description:
            en_us: 'Container Path: /configs'
      ports:
        - container: "8080"
          description:
            en_us: 'Container Port: 8080'
x-casaos:
  architectures:
    - amd64
    - arm64
  main: stirling-pdf
  description:
    en_us: Stirling PDF - Local hosted web based PDF editor
  tagline:
    en_us: Stirling PDF - Local hosted web based PDF editor
  developer: stirlingtools
  icon: https://i.ibb.co/JPbk3qW/stirling-pdf.png
  thumbnail: ""
  title:
    en_us: Stirling-PDF
  category: Charlie
  port_map: "8080"
