name: changedetection
services:
  changedetection:
    image: lscr.io/linuxserver/changedetection.io:latest
    container_name: changedetection
    environment:
      - PUID=0
      - PGID=0
      - TZ=Etc/UTC
      - PLAYWRIGHT_DRIVER_URL=ws://playwright-chrome:3000
    volumes:
      - /DATA/AppData/changedetection/config:/config
    ports:
      - 5005:5000 # Map Host 5005 to Container 5000
    restart: unless-stopped
    depends_on:
      - playwright-chrome
    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: "Timezone for the container"
      ports:
        - container: "5005"
          description:
            en_us: "Web Interface"
      volumes:
        - container: /config
          description:
            en_us: "Configuration and database storage"

  playwright-chrome:
    image: dgtlmoon/sockpuppetbrowser:latest
    container_name: playwright-chrome
    restart: unless-stopped
    environment:
      - SCREEN_WIDTH=1920
      - SCREEN_HEIGHT=1080
      - SCREEN_DEPTH=24

x-casaos:
  architectures:
    - amd64
    - arm64
  main: changedetection
  author: dgtlmoon
  category: Automation
  description:
    en_us: "Self-hosted tool for staying up-to-date with website content changes."
  developer: ChangeDetection.io
  icon: https://raw.githubusercontent.com/dgtlmoon/changedetection.io/master/changedetectionio/static/images/logo-256.png
  tagline:
    en_us: "Monitor any website for changes and get notified."
  title:
    en_us: ChangeDetection
  port_map: "5005"
