name: onlyoffice-documentserver
services:
  app:
    image: onlyoffice/documentserver:latest
    container_name: onlyoffice-documentserver
    ports:
      - "9020:80"
    volumes:
      - /DATA/AppData/$AppID/onlyoffice/logs:/var/log/onlyoffice
      - /DATA/AppData/$AppID/onlyoffice/data:/var/www/onlyoffice/Data
      - /DATA/AppData/$AppID/onlyoffice/lib:/var/lib/onlyoffice
      - /DATA/AppData/$AppID/onlyoffice/rabbitmq:/var/lib/rabbitmq
      - /DATA/AppData/$AppID/onlyoffice/redis:/var/lib/redis
      - /DATA/AppData/$AppID/onlyoffice/db:/var/lib/postgresql
    x-casaos:
      volumes:
        - container: /var/log/onlyoffice
          description:
            en_us: 'Container Path: /var/log/onlyoffice'
        - container: /var/www/onlyoffice/Data
          description:
            en_us: 'Container Path: /var/www/onlyoffice/Data'
        - container: /var/lib/onlyoffice
          description:
            en_us: 'Container Path: /var/lib/onlyoffice'
        - container: /var/lib/rabbitmq
          description:
            en_us: 'Container Path: /var/lib/rabbitmq'
        - container: /var/lib/redis
          description:
            en_us: 'Container Path: /var/lib/redis'
        - container: /var/lib/postgresql
          description:
            en_us: 'Container Path: /var/lib/postgresql'
      ports:
        - container: "80"
          description:
            en_us: 'Container Port: 80'
x-casaos:
  architectures:
    - amd64
  main: onlyoffice-documentserver
  title:
    en_us: ONLYOFFICE DocSpace
  tagline:
    en_us: Full Office Room & File Management System.
  developer: ONLYOFFICE
  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/onlyoffice.png
  category: Charlie
  port_map: "9020"
