name: owncloud
services:
  owncloud:
    image: owncloud/server:latest
    container_name: owncloud
    restart: always
    ports:
      - "8085:8080"
    environment:
      - OWNCLOUD_DOMAIN=192.168.68.120:8085
      - OWNCLOUD_TRUSTED_DOMAINS=192.168.68.120
      - OWNCLOUD_DB_TYPE=mysql
      - OWNCLOUD_DB_NAME=owncloud
      - OWNCLOUD_DB_USERNAME=owncloud
      - OWNCLOUD_DB_PASSWORD=owncloud
      - OWNCLOUD_DB_HOST=mariadb
      - OWNCLOUD_ADMIN_USERNAME=admin
      - OWNCLOUD_ADMIN_PASSWORD=admin
    volumes:
      - /DATA/AppData/owncloud/data:/mnt/data
  mariadb:
    image: mariadb:10.11
    container_name: owncloud-db
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=owncloud
      - MYSQL_USER=owncloud
      - MYSQL_PASSWORD=owncloud
      - MYSQL_DATABASE=owncloud
    volumes:
      - /DATA/AppData/owncloud/mysql:/var/lib/mysql
  redis:
    image: redis:6-alpine
    container_name: owncloud-redis
    restart: always
    volumes:
      - /DATA/AppData/owncloud/redis:/data
x-casaos:
  author: ownCloud
  category: Charlie
  main: owncloud
  title:
    en_us: ownCloud
