name: docspace
services:
  docspace-app:
    container_name: docspace-app
    # Forced global registry to avoid the "Mainland China" mirror error
    image: docker.io/onlyoffice/docspace:latest
    restart: unless-stopped
    ports:
      - 9020:80
      - 9021:443
    environment:
      - JWT_ENABLED=true
      - JWT_SECRET=charlie_secret_key_789
    volumes:
      - /DATA/AppData/$AppID/data:/var/www/onlyoffice/Data
      - /DATA/AppData/$AppID/logs:/var/log/onlyoffice
      - /DATA/AppData/$AppID/mysql:/var/lib/mysql

x-casaos:
  architectures:
    - amd64
  main: docspace-app
  title:
    en_us: ONLYOFFICE DocSpace
  tagline:
    en_us: Full Office Room & File Management System.
  developer: ONLYOFFICE
  icon: https://www.onlyoffice.com/blog/wp-content/uploads/2023/04/DocSpace_logo_1.png
  category: Charlie
  port_map: "9020"
